<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hermes">
    <!-- 네트워크 사용 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 포그라운드 서비스 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android 14+(SDK 34+)에서는 타입별 권한도 요구됨 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!-- (선택) 배터리 최적화 예외 요청시 -->
    <!-- <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> -->

    <application
        android:allowBackup="true"
        android:label="Hermes"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!-- 런처 Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 알림 리스너 서비스 (알림 수신 핵심) -->
        <service
            android:name=".core.NotificationRelayService"
            android:label="Hermes Notification Relay"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- (선택) MQTT 연결 유지용 ForegroundService 사용한다면 -->
        <service
            android:name=".core.MqttKeeperService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            tools:ignore="Instantiatable" />

        <!-- Paho의 백엔드 서비스 (MqttAndroidClient가 내부적으로 사용) -->
        <service
            android:name="info.mqtt.android.service.MqttService"
            android:exported="false" />

            <!--android:name="org.eclipse.paho.android.service.MqttService" -->
            <!--android:name="info.mqtt.android.service.MqttService"-->
    </application>
</manifest>
